.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8
}

.hljs-comment, .hljs-quote {
    color: #998;
    font-style: italic
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #333;
    font-weight: 700
}

.hljs-literal, .hljs-number, .hljs-tag .hljs-attr, .hljs-template-variable, .hljs-variable {
    color: teal
}

.hljs-doctag, .hljs-string {
    color: #d14
}

.hljs-section, .hljs-selector-id, .hljs-title {
    color: #900;
    font-weight: 700
}

.hljs-subst {
    font-weight: 400
}

.hljs-class .hljs-title, .hljs-type {
    color: #458;
    font-weight: 700
}

.hljs-attribute, .hljs-name, .hljs-tag {
    color: navy;
    font-weight: 400
}

.hljs-link, .hljs-regexp {
    color: #009926
}

.hljs-bullet, .hljs-symbol {
    color: #990073
}

.hljs-built_in, .hljs-builtin-name {
    color: #0086b3
}

.hljs-meta {
    color: #999;
    font-weight: 700
}

.hljs-deletion {
    background: #fdd
}

.hljs-addition {
    background: #dfd
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

.cuk-markdown {
    color: #425063;
    font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Segoe UI, Microsoft YaHei, 微软雅黑, sans-serif;
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 21px;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
}

.cuk-markdown > :first-child {
    margin-top: 0 !important
}

.cuk-markdown > :last-child {
    margin-bottom: 0 !important
}

.cuk-markdown a.absent {
    color: #c00
}

.cuk-markdown a.anchor {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0
}

.cuk-markdown a.anchor:focus {
    outline: none
}

.cuk-markdown h1, .cuk-markdown h2, .cuk-markdown h3, .cuk-markdown h4, .cuk-markdown h5, .cuk-markdown h6 {
    color: #323a45;
    cursor: text;
    font-weight: 700;
    margin: 25px 0 15px;
    padding: 0 0 5px;
    position: relative;
}

.cuk-markdown h1 .octicon-link, .cuk-markdown h2 .octicon-link, .cuk-markdown h3 .octicon-link, .cuk-markdown h4 .octicon-link, .cuk-markdown h5 .octicon-link, .cuk-markdown h6 .octicon-link {
    display: none;
    color: #000
}

.cuk-markdown h1:hover a.anchor, .cuk-markdown h2:hover a.anchor, .cuk-markdown h3:hover a.anchor, .cuk-markdown h4:hover a.anchor, .cuk-markdown h5:hover a.anchor, .cuk-markdown h6:hover a.anchor {
    display: inline;
    text-decoration: none;
    left: -1em;
    padding-right: 1em
}

.cuk-markdown h1:hover a.anchor .octicon-link, .cuk-markdown h2:hover a.anchor .octicon-link, .cuk-markdown h3:hover a.anchor .octicon-link, .cuk-markdown h4:hover a.anchor .octicon-link, .cuk-markdown h5:hover a.anchor .octicon-link, .cuk-markdown h6:hover a.anchor .octicon-link {
    display: inline-block
}

.cuk-markdown h1 code, .cuk-markdown h1 tt, .cuk-markdown h2 code, .cuk-markdown h2 tt, .cuk-markdown h3 code, .cuk-markdown h3 tt, .cuk-markdown h4 code, .cuk-markdown h4 tt, .cuk-markdown h5 code, .cuk-markdown h5 tt, .cuk-markdown h6 code, .cuk-markdown h6 tt {
    font-size: inherit
}

.cuk-markdown h1 {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.cuk-markdown.bubble h1, .cuk-markdown.bubble h2 {
    border: none !important
}

.cuk-markdown h2 {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.cuk-markdown h3 {
    font-size: 16px;
    line-height: 25px;
}

.cuk-markdown h4 {
    font-size: 15px;
    line-height: 21px;
}

.cuk-markdown h5, .cuk-markdown h6 {
    font-size: 14px;
    line-height: 21px;
}

.cuk-markdown blockquote, .cuk-markdown dl, .cuk-markdown ol, .cuk-markdown p, .cuk-markdown pre, .cuk-markdown table, .cuk-markdown ul {
    margin: 15px 0
}

.cuk-markdown hr {
    border: none;
    border-top: 1px dashed #ddd;
    height: 1px;
    padding: 0;
    margin: 30px 0
}

.cuk-markdown ol, .cuk-markdown ul {
    padding-left: 30px
}

.cuk-markdown ul {
    list-style-type: disc
}

.cuk-markdown ol {
    list-style-type: decimal
}

.cuk-markdown ol.no-list, .cuk-markdown ul.no-list {
    list-style-type: none;
    padding: 0
}

.cuk-markdown ol ol, .cuk-markdown ol ul, .cuk-markdown ul ol, .cuk-markdown ul ul {
    margin-top: 0;
    margin-bottom: 0
}

.cuk-markdown dl {
    padding: 0
}

.cuk-markdown dl dt {
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    padding: 0;
    margin-top: 15px
}

.cuk-markdown dl dd {
    margin-bottom: 15px;
    padding: 0 15px
}

.cuk-markdown blockquote {
    background: #f2f4f6;
    border-left: 4px solid #d8dde4;
    color: #76808e;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 13px;
}

.cuk-markdown blockquote > :first-child {
    margin-top: 0
}

.cuk-markdown blockquote > :last-child {
    margin-bottom: 0
}

.cuk-markdown .markdown-table {
    width: 100%;
    overflow: auto;
    margin: 15px 0 !important
}

.cuk-markdown .markdown-table table {
    margin: 0
}

.cuk-markdown table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-radius: 3px
}

.cuk-markdown table th {
    font-weight: 700;
    background: #e7ebf0;
    border: 1px solid #d8dde4;
    color: #272c33
}

.cuk-markdown table td, .cuk-markdown table th {
    padding: 9px 15px
}

.cuk-markdown table tr {
    background-color: #fff
}

.cuk-markdown table tr:nth-child(2n) {
    background-color: #f2f4f6
}

.cuk-markdown table tbody {
    border: 1px solid #d8dde4
}

.cuk-markdown table tbody tr {
    color: #76808e
}

.cuk-markdown table tbody tr:not(:last-child) {
    border-bottom: 1px solid #d8dde4
}

.cuk-markdown img {
    max-width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 3px
}

.cuk-markdown img.emotion {
    padding: 0;
    border-radius: 0;
    border: none;
    background: none
}

.cuk-markdown span.frame {
    display: block;
    overflow: hidden
}

.cuk-markdown span.frame > span {
    border: 1px solid #ddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto
}

.cuk-markdown span.frame span img {
    display: block;
    float: left
}

.cuk-markdown span.frame span span {
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0
}

.cuk-markdown span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.cuk-markdown span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center
}

.cuk-markdown span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.cuk-markdown span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.cuk-markdown span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right
}

.cuk-markdown span.align-right span img {
    margin: 0;
    text-align: right
}

.cuk-markdown span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left
}

.cuk-markdown span.float-left span {
    margin: 13px 0 0
}

.cuk-markdown span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right
}

.cuk-markdown span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right
}

.cuk-markdown code, .cuk-markdown tt {
    margin: 0;
    padding: 1px 0;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-size: .8em;
    vertical-align: middle
}

.cuk-markdown code:after, .cuk-markdown code:before, .cuk-markdown tt:after, .cuk-markdown tt:before {
    content: "\A0";
    letter-spacing: -.2em
}

.cuk-markdown del code {
    text-decoration: inherit;
    vertical-align: text-top
}

.cuk-markdown code {
    white-space: nowrap
}

.cuk-markdown pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
    line-height: inherit;
    font-family: monospace, Consolas, Menlo, Courier;
    font-size: 1em
}

.cuk-markdown .highlight pre, .cuk-markdown pre {
    background-color: #f2f4f6;
    border: 1px solid #d8dde4;
    padding: 6px 10px;
    border-radius: 3px;
    max-height: 500px;
    overflow: auto
}

.cuk-markdown pre {
    word-wrap: normal
}

.cuk-markdown pre code, .cuk-markdown pre tt {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    word-wrap: normal;
    max-width: none;
    display: inline;
    overflow: visible;
    overflow: initial
}

.cuk-markdown pre code:after, .cuk-markdown pre code:before, .cuk-markdown pre tt:after, .cuk-markdown pre tt:before {
    content: normal
}

.cuk-markdown .hljs {
    background: inherit
}

.cuk-markdown .three_wrapper img.emotion.monkey {
    width: 31%;
    margin: 1%
}

.cuk-markdown .two_wrapper img.emotion.monkey {
    width: 46%;
    margin: 2%
}

.cuk-markdown .task-list {
    list-style-type: none;
    padding-left: 10px
}

.cuk-markdown .task-list-item label {
    font-weight: 400
}

.cuk-markdown .task-list-item + .task-list-item {
    margin-top: 3px
}

.cuk-markdown .markdown-toc {
    margin: 1em !important;
    margin-top: 0
}

.cuk-markdown .markdown-toc ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    line-height: 1.5em
}

.cuk-markdown .markdown-toc > ul ul {
    padding-left: 20px !important
}

.cuk-markdown .code-block {
    position: relative
}

.cuk-markdown .code-block:hover .copy-btn {
    display: block
}

.cuk-markdown .copy-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer
}